@{
    ViewBag.Title = "Employee";
}

<div class="container">
    <h2>Employees</h2>
    <button id="addEmployeeBtn" class="btn btn-primary mb-2" style="float:right;">Add Employee</button>
    <table id="employeeTable" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeModalLabel">Add Employee</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form for adding/editing employee -->
                <form id="employeeForm">
                    <div class="form-group">
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label for="name">Name</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="name" name="name">
                                <label id="nameValidation" style="color:red;display:none">Name is Required</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-md-10">
                                <input type="email" class="form-control" id="email" name="email">
                                <label id="emailValidation" style="color:red;display:none">Email is Required</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label for="position">Position</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="position" name="position">
                                <label id="positionValidation" style="color:red;display:none">Position is Required</label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="employeeId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveEmployeeBtn">Save</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        populateEmployees();

    });

    function populateEmployees() {
    $.ajax({
        url: '@Url.HttpRouteUrl("ActionApi", new {controller = "Employees", action = "GetAll", area = "" })',
        type: 'GET',
        success: function (data) {
            $('#employeeTable tbody').empty();
            $.each(data, function (index, employee) {
                $('#employeeTable tbody').append(`
                  <tr>
                    <td>${employee.Id}</td>
                    <td>${employee.Name}</td>
                    <td>${employee.Email}</td>
                    <td>${employee.Designation}</td>
                    <td>
                      <button class="btn btn-info btn-sm editEmployeeBtn" data-id="${employee.Id}" data-name="${employee.Name}" data-email="${employee.Email}" data-position="${employee.Designation}">Edit</button>
                      <button class="btn btn-danger btn-sm deleteEmployeeBtn" data-id="${employee.Id}">Delete</button>
                    </td>
                  </tr>`
                );
            });
        },
        error: function (xhr, status, error) {
            //console.error(xhr.responseText);
        }
    });

        //email validation
        function emailValidation(email) {
            var pattern= /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
            return pattern.test(email);
        }

        //check input values contain only whitespaces 
        function checkWhitepace(string) {
            var regexString = /^\s*$/;
            return regexString.test(string);
        }

        //Hide Error Labels
        function hideErrorLable() {
            $('#nameValidation').hide();
            $('#emailValidation').hide();
            $('#positionValidation').hide();
        }

        // Open modal to add employee
        $('#addEmployeeBtn').click(function () {
            $('#employeeModalLabel').text('Add Employee');
            hideErrorLable();
            $('#employeeForm')[0].reset();
            $('#employeeModal').modal('show');
        });

        // Open modal to edit employee
        $(document).on('click', '.editEmployeeBtn', function () {
            $('#employeeModalLabel').text('Edit Employee');
            hideErrorLable();
            $('#employeeId').val($(this).data('id'));
            $('#name').val($(this).data('name'));
            $('#email').val($(this).data('email'));
            $('#position').val($(this).data('position'));
            $('#employeeModal').modal('show');
        });

        // Save employee (add or update)
        $('#saveEmployeeBtn').click(function () {
            var id = $('#employeeId').val();
            var name = $('#name').val();
            var email = $('#email').val();
            var position = $('#position').val();


            //name validation
            if (!name || checkWhitepace(name)) {
                $('#nameValidation').show();
                return false;
            } else {
                $('#nameValidation').hide();
            }
            if (!email || checkWhitepace(email)) {
                $('#emailValidation').show();
                return false;
            }
            else {
                $('#emailValidation').hide();
            }
            if (!emailValidation(email)) {
                $('#emailValidation').text("Invalid email format.")
                $('#emailValidation').show();
                return false;
            }
            if (!position || checkWhitepace(position)) {
                $('#positionValidation').show();
                return false;
            } else {
                $('#positionValidation').hide();
            }

            var employeeData = {
                Id : id,
                Name: name,
                Email: email,
                Designation: position
            };

            var url = '@Url.HttpRouteUrl("ActionApi", new {controller = "Employees", action = "PostEmployee", area = "" })';
            var method = 'POST';
            if (id) {
                url = '@Url.HttpRouteUrl("ActionApi", new {controller = "Employees", action = "PutEmployee", area = "" })';
                method = 'PUT';
            }

            $.ajax({
                url: url,
                type: method,
                contentType: 'application/json',
                data: JSON.stringify(employeeData),
                success: function () {
                    populateEmployees();
                    $('#employeeModal').modal('hide');
                },
                error: function (xhr, status, error) {
                    console.error('Error saving employee:', error);
                }
            });
        });

        // Delete employee
        $(document).on('click', '.deleteEmployeeBtn', function () {
            var id = $(this).data('id');
            if (confirm('Are you sure you want to delete this employee?')) {
                $.ajax({
                    url: '@Url.HttpRouteUrl("ActionApi", new {controller = "Employees", action = "DeleteEmployee", area = "" })?id='+ id,
                    type: 'DELETE',
                    success: function () {
                        populateEmployees();
                    },
                    error: function (xhr, status, error) {
                        console.error('Error deleting employee:', error);
                    }
                });
            }
        });
    }
</script>